:root {
    --primary-bg-color: #ffffff;
    --section-team-bg-color: #F5F4FA;
    --hero-bg-color: #2F303A;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-blue-color: #2196F3;
    --accent-black-color: #000000;
    --address-links-color: rgba(255, 255, 255, 0.6);
    --header-border-color: #ECECEC;
    --signature-works-border-color: #EEEEEE;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
}

p {
    margin-bottom: 0px;
}

.list {
    padding: 0px;
    margin: 0px;

    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;

    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

button {
    font: inherit;
    border: none;

    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    border-bottom: 1px solid var(--header-border-color);
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-blue-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.page-header .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.page-header .logo .accent {
    color: var(--accent-black-color);
}

.site-nav {
    display: flex;
}

.site-nav .item+.item {
    margin-left: 50px;
}

.site-nav .link,
.auth-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-blue-color);
}

.site-nav .link.current {
    color: var(--accent-blue-color);
}

.auth-nav {
    display: flex;
}

.auth-nav .item+.item {
    margin-left: 50px;
}

.auth-nav .link {
    color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-blue-color);
}

.page-footer {
    padding: 60px 0px;

    background-color: var(--hero-bg-color);
}


.page-footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}

.page-footer .logo .accent {
    color: var(--primary-bg-color);
}

.address-links .link {
    color: var(--address-links-color);
    font-style: normal;
}

.address-links .item+.item {
    margin-top: 9px;
}

.link.contacts:hover,
.link.contacts:focus {
    color: var(--accent-blue-color);
}

.link.googlmaps {
    color: var(--primary-bg-color);
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--hero-bg-color);
}

.hero-title {
    width: 696px;
    margin: 0px auto 30px;

    color: var(--primary-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    display: block;
    border-radius: 4px;
    padding: 10px 32px;
    margin: 0px auto 0px;
    min-width: 200px;

    background: var(--accent-blue-color);
    color: var(--primary-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-title {
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.title {
    margin-bottom: 10px;
}

.advantages {
    display: flex;
}

.advantages .title {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages .item {
    width: 270px;
}

.advantages .item+.item {
    margin-left: 30px;
}

.section.specialization {
    padding-top: 0px;
}

.specialization .list {
    display: flex;
}

.specialization .item+.item {
    margin-left: 30px;
}

.section.team {
    background-color: var(--section-team-bg-color);
}

.team .list {
    display: flex;
}

.team .item {
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-bg-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .item+.item {
    margin-left: 30px;
}

.team img {
    padding-bottom: 30px;
}

.team .title {
    color: var(--title-text-color);
    font-weight: 500;
}

.team .title,
.team .position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.selection.list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.selection .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-nav {
    padding: 6px 22px;
    border-radius: 4px;

    background: var(--section-team-bg-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-nav:hover,
.portfolio-nav:focus {
    background: var(--accent-blue-color);
    color: var(--primary-bg-color);
}

.portfolio-nav.see {
    background: var(--accent-blue-color);
    color: var(--primary-bg-color);
}

.works {
    display: flex;
    flex-wrap: wrap;
}

.works .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works .item:nth-child(3n) {
    margin-right: 0px;
}

.works .item:not( :nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.works .signature {
    padding-top: 20px;
    padding-bottom: 19px;
    padding-left: 23px;
    padding-right: 23px;
    border-right: 1px solid var(--signature-works-border-color);
    border-left: 1px solid var(--signature-works-border-color);
    border-bottom: 1px solid var(--signature-works-border-color);
}

.works .title {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.works .kind-of {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}